@{
    ViewData["Title"] = "Quem somos?";
}

<div id="popcorn">
    <br />
    <br />
</div>

<img src="/images/slogan.png" alt="Streaming Planet" style="max-width:100%;width:100%">

<div id="popcorn">
    <br />
    <br />
</div>

<img src="/images/vantagens.png" alt="Streaming Planet" style="max-width:100%;width:100%">



