@{
    ViewData["Title"] = "Início";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div id="popcorn">
    <br />
    <br />
</div>

<img src="/images/hbo.png" alt="Streaming Planet" style="max-width:100%;width:100%; height:10%">

<div id="popcorn">
    <br />
    <br />
</div>

<img src="/images/price.png" alt="Tudo o que adoras, num só lugar" style="max-width:100%;width:100%">

