@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar sessão";
}

<div class="container" id="container">
    <div class="div-padding">
            <section>
                <form class="form" id="account" method="post">
                    <h1>@ViewData["Title"]</h1>
                    <h5 class="link">Ao continuar, concordas com a nossa <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>.</h5>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating" id="field">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating" id="field">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.Password" class="form-label"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="text-left">
                        <div class="checkbox" id="field">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div id="field">
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary btn-round my-button">Iniciar sessão</button>
                    </div>
                    <div>
                        <p class="link">
                            <a id="forgot-password" asp-page="./ForgotPassword">Esqueceste-te da palavra-passe?</a>
                        </p>
                        <p class="link">
                            Ainda não tens uma conta? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Regista-te</a>
                        </p>
                        <p class="link">
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar confirmação de e-mail</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>
