@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Eliminar conta";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>A tua conta possui dados pessoais guardados. Esta página permite que os descarregues ou os apagues, definitivamente.</p>
        <p>
            <strong>Ao eliminares os teus dados, estarás a apagar permanentemente a tua conta e não poderás recuperá-la.</strong>
        </p>
        <div id="field">
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="btn btn-primary btn-round my-button" type="submit">Descarregar dados</button>
            </form>
        </div>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger btn-round">Eliminar conta</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
